<div class="narrative-wrapper">
  <div class="art-wrapper">
    <div class="water-1"></div>
    <div class="water-2"></div>
    <div class="sky">
      <div class="center-content">
        <div class="mountain mountain-3"></div>
        <div class="mountain mountain-2"></div>
        <div class="mountain mountain-1"></div>
        <div class="sun"></div>
      </div>
    </div>
  </div>
  <div class="narrative center-content">
    <span class="nar-const const-1">
      If
    </span>
    <div class="nar-var var-1">
      <div class="var-in"></div>
    </div>
    <span class="nar-const const-2">
      took just <span class="tagline">one less shower a week</span> for
    </span>
    <div class="nar-var var-2">
      <div class="var-in"></div>
    </div>
    <span class="nar-const const-3">
      , that would be enough water for
    </span>
    <div class="nar-var var-3">
      <div class="var-in"></div>
    </div>
  </div>
</div>
<div class="under-narrative-content">
  <div class="phase-1">
    <div class="center-content">
      <div class="input-people">
        <div class="choice-wrapper">
          <div class="input-people-choice material" data-narrative="I" data-num-people="1">
            You
          </div>
        </div>
        <div class="choice-wrapper">
          <div class="input-people-choice material" data-narrative="my family" data-num-people="4">
            Your Family
          </div>
        </div>
        <div class="choice-wrapper">
          <div class="input-people-choice material" data-narrative="my community" data-num-people="60">
            Your Community
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="phase-2">
    <div class="center-content">
      <div class="choice-wrapper">
        <div class="time-choice material">
          <input class="time-range" type="range" name="time" value="-1" min="1">
          <div class="range-indicator">
            <span>1 week</span>
            <span>1 year</span>
          </div>
          <div class="num-weeks not-selected">__ months &amp; __ weeks</div>
        </div>
      </div>
    </div>
  </div>
  <div class="phase-3">
    <div class="center-content">
      <div class="choice-wrapper">
        {{#each comparisons}}
          <div class="comp-choice material" data-conversion= {{conversion}} data-text1="{{text1}}" data-text2="{{text2}}">
            <div class="title">
              {{title}}
            </div>
            <div><img src="imgs/{{image}}" alt="{{title}}" /></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
